@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: 0%;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mainHeader {
    color: rgb(255, 255, 255);
    font-family: "Press Start 2P";
    display: flex;
    border-bottom: 1px solid;
    padding: 5px;
    background-image: linear-gradient(to right, rgba(34, 36, 153, 0.747), rgba(0, 110, 255, 0.603));
    position: sticky  ;
    top: 0%;
    z-index: 1000;
    box-shadow: 0px 0px 6px aquamarine;
}

.mainHeaderTxt {
    margin-top: 20px;
    margin-left: 35px;
    margin-bottom: 25px;
    text-decoration: none
}

.mainHeaderTxt a {
    font-size:  large;
    text-decoration: none;
    color: rgb(60, 211, 211);
    text-shadow: 0px 0px 4px aqua;
    border: 4px solid white;
    padding: 12px;
    background-color: hsl(0, 0%, 90%);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 0px 4px aquamarine;
    text-shadow: 0px 0px 4px aqua;
    transition: ease-in-out 0.4s;
}

.mainHeaderTxt:hover {
    color: rgb(179, 179, 179);
    transform: scale(1.1);
}

.navBar {
    display: flex;
    margin-left: auto;
    margin-right: 10px;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
}

.navBar a {
    text-decoration: none;
}

.palomo,
.alvarez,
.isidro {
    border: 3px solid white;
    padding: 12px;
    color: rgb(60, 211, 211);
    background-color: hsl(0, 0%, 90%);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 0px 4px aquamarine;
    transition: ease-in-out 0.2s;
}

.arintoc {
    border: 3px solid whitesmoke;
    padding: 12px;
    color: rgb(179, 179, 179);
    background-color: hsl(0, 0%, 90%);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 0px 4px aquamarine;
    transition: ease-in-out 0.2s;
}

.membersTxt {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.palomo:hover,
.alvarez:hover,
.isidro:hover {
    color: rgba(60, 211, 211, 0.473);
    transform: scale(1.1);
}

.arintoc:hover {
    transform: scale(1.1);
}

.MainBg {
  position: fixed;    
  width: 100vw;
  height: 100vh;
  top: 0%;
  left: 0%;
  z-index: -1;
  opacity: 0.95;
  background-size: cover ;
}

.Intro {
    font-family: "Press Start 2P";
    color: rgb(0, 255, 170);
    margin: auto;
    margin-top: 150px;
    font-size: x-large;
    text-align: center;
    display: block;
    text-shadow: 0px 0px 15px rgb(7, 121, 121);
}

.ME {
    display: block;
    width: 400px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 5px aqua solid;
    box-shadow: 0px 0px 15px 10px aquamarine;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    align-content: center;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}

.Intro h1, h2, h3 {
    background-color: rgb(240,248,255,0.5);
    padding: 10px;
    box-shadow: 0px 0px 4px aquamarine;
}

.Intro hr{
    box-shadow: 0px 0px 10px aquamarine, 0px 0px 20px aquamarine,0px 0px 30px aquamarine;
    background: aqua;
    height: 4px;
    border: none;
}

.FavFood {
    margin: auto;
    margin-top: 400px;
}

.FavFood img {
    background-color: rgba(118, 206, 169, 0.8);
    margin-top: 100px;
    border: 3px aqua;
    border-radius: 50px ;
    box-shadow: 0px 0px 50px rgb(118, 206, 169);
}

.MeatTxt
{
    margin-top: 60px;
}

.MEAT {
    font-size: large;
    padding: 12px;
    color: rgb(0, 255, 170);
    background-color: rgb(240,248,255,0.5);
    border: 3px solid white;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    text-shadow: 0px 0px 15px rgb(7, 121, 121);
    text-align: center;
}